{% extends "core/base.html" %}
{% block title %}{{ aluno.nome_completo }} - SmartSecretaria{% endblock %}

{% block content %}
<div class="container">
  <h1>Detalhes do Aluno</h1>
  
  {% if messages %}
    <div class="mensagens">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h3>{{ aluno.nome_completo }}</h3>
        <div>
          <a href="{% url 'aluno:editar_aluno' aluno.id %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'aluno:excluir_aluno' aluno.id %}" class="btn btn-danger">Excluir</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          {% if aluno.foto %}
            <img src="{{ aluno.foto.url }}" alt="Foto de {{ aluno.nome_completo }}" class="img-fluid">
          {% else %}
            <div class="sem-foto">Sem foto</div>
          {% endif %}
        </div>
        <div class="col-md-8">
          <dl class="row">
            <dt class="col-sm-4">Turma:</dt>
            <dd class="col-sm-8">{{ aluno.turma }}</dd>
            
            <dt class="col-sm-4">Data de Nascimento:</dt>
            <dd class="col-sm-8">{{ aluno.data_nascimento }}</dd>
            
            <dt class="col-sm-4">Endereço:</dt>
            <dd class="col-sm-8">{{ aluno.endereco }}</dd>
            
            <dt class="col-sm-4">Telefone:</dt>
            <dd class="col-sm-8">{{ aluno.telefone_contato }}</dd>
            
            {% if aluno.email %}
            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8">{{ aluno.email }}</dd>
            {% endif %}
            
            {% if aluno.nome_pai %}
            <dt class="col-sm-4">Nome do Pai:</dt>
            <dd class="col-sm-8">{{ aluno.nome_pai }}</dd>
            {% endif %}
            
            {% if aluno.nome_mae %}
            <dt class="col-sm-4">Nome da Mãe:</dt>
            <dd class="col-sm-8">{{ aluno.nome_mae }}</dd>
            {% endif %}
            
            {% if aluno.nome_responsavel %}
            <dt class="col-sm-4">Nome do Responsável:</dt>
            <dd class="col-sm-8">{{ aluno.nome_responsavel }}</dd>
            {% endif %}
            
            {% if aluno.cpf %}
            <dt class="col-sm-4">CPF:</dt>
            <dd class="col-sm-8">{{ aluno.cpf }}</dd>
            {% endif %}
            
            {% if aluno.rg %}
            <dt class="col-sm-4">RG:</dt>
            <dd class="col-sm-8">{{ aluno.rg }}</dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href="{% url 'aluno:lista_alunos' %}" class="btn btn-secondary">Voltar para a lista</a>
    </div>
  </div>
</div>
{% endblock %}